:root {
  font-family: NanoPlus;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size:14px
}

@media only screen and (max-width: 700px){
  :root{
    font-size:10px
  }
}
@media only screen and (max-width: 400px){
  :root{
    font-size:5px
  }
}
html, body, *{
  overscroll-behaviour: contain;
  touch-action: none;
}
.icon-container svg{
  width:1em;
  height:1em;
}
body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
img{
  image-rendering:pixelated;
}
canvas.main{
  width:100% !important;
  height:100% !important;
  image-rendering:pixelated;
}

.slide-enter-active,
.slide-exit-active {
  transition: transform 0.2s ease;
}
.slide-enter,
.slide-exit-to {
  transform: translateY(100vh);
}
.slide-enter {
  transform: translateY(100vh);
}

@keyframes letter-pop{
  from{
    transform: scale(1.5);
  }
  to{
   transform: scale(1);
  }
}

.dialog-container{
  color: white;
  font-family: NanoPlus;
  font-size: 2rem;
  background: hsl(0, 0%, 0%, 50%);
  border-radius: 1rem; 
  padding: 1rem; 
  display: flex;
  min-width:15rem
}

.letter-visible{
  animation-name:letter-pop;
  animation-duration:0.1s;
}

.letter-hidden{
  opacity:0
}
.letter{
}
.space{
  width:0.5rem
}

button.button{
  all:unset;
  display:grid;
  place-items:center;
  padding:0.2rem 0.5rem;
  background:hsl(0, 0%, 0%, 0.3);
  color:white;
  font-size:2rem;
  border-radius:1rem;
  box-shadow:0 0.2rem 0 0 hsl(0, 0%, 0%, 0.8);
}
button.button:hover {
  outline:solid 0.2rem hsl(0, 0%, 100%,0.3);
}
.no-events{
  pointer-events:none;
}
*:not(.no-events){
  pointer-events:auto
}

button.selected{
  background:black;
  color:white;
}

body>div{
  box-shadow: 0 0 20vw rgba(0,0,0,0.5) inset;
}

/* ! INPUT RANGE */
.input-range{
  cursor: pointer;
  appearance: none;
  background:hsl(0, 0%, 0%, 0.3);
  border-radius: 0.5rem;
  box-shadow:0 0.2rem 0 0 hsl(0, 0%, 0%, 0.8);
}
.input-range:hover{
  outline:solid 0.2rem hsl(0, 0%, 100%,0.3);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
   appearance: none;
   background-color: hsl(0,0%,100%,0.7);
   border-radius: 0.5rem;
   height: 1.5rem;
   width: 1rem;    
}
