:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size:14px
}

@media only screen and (max-width: 700px){
  :root{
    font-size:10px
  }
}
@media only screen and (max-width: 400px){
  :root{
    font-size:5px
  }
}
html, body, *{
  overscroll-behaviour: contain;
}
.icon-container svg{
  width:1em;
  height:1em;
}
body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
img{
  image-rendering:pixelated;
}
canvas{
  width:100% !important;
  height:100% !important;
  image-rendering:pixelated;
}
.slide{
 translate:0% 100vh
}
.slide-in{
  animation-name:slide-in;
  animation-duration:500ms;
  animation-fill-mode: forwards;
}
@keyframes slide-in{
  from{
    translate:0% 100vh
  }
  to{
    translate:0% 0%
  }
}
.slide-out{
  animation-name:slide-out;
  animation-duration:500ms;
      animation-fill-mode: forwards;
  
}
@keyframes slide-out{
  from{
    translate:0% 0%
  }
  to{
    translate:0% 100vh
  }
}

@keyframes letter-pop{
  from{
    transform: scale(1.5);
  }
  to{
   transform: scale(1);
  }
}

.dialog-container{
  color: white;
  font-family: NanoPlus;
  font-size: 2rem;
  background: hsl(0, 0%, 0%, 50%);
  border-radius: 1rem; 
  padding: 1rem; 
  display: flex;
}

.letter-visible{
  animation-name:letter-pop;
  animation-duration:0.1s;
}

.letter-hidden{
  opacity:0
}
.letter{
}
.space{
  width:0.5rem
}