:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

    background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
img{
  image-rendering:pixelated;
}
canvas{
  width:100% !important;
  height:100% !important;
  image-rendering:pixelated;
}
.slide{
 translate:0% 100vh
}
.slide-in{
  animation-name:slide-in;
  animation-duration:500ms;
  animation-fill-mode: forwards;
}
@keyframes slide-in{
  from{
    translate:0% 100vh
  }
  to{
    translate:0% 0%
  }
}
.slide-out{
  animation-name:slide-out;
  animation-duration:500ms;
      animation-fill-mode: forwards;
  
}
@keyframes slide-out{
  from{
    translate:0% 0%
  }
  to{
    translate:0% 100vh
  }
}